<div class="wrapper">
    <div class="container">
        <p class="title">Hello World Simulater</p>
        <div class="content">
            <button class="btn" (click)="getResponse()">Submit</button>
            <p class="msg"> {{ helloWorld$ | async }}</p>
        </div>
    </div>
</div>
