.wrapper {
  padding-top: 2rem;
  .container {
    width: 1100px;
    margin: 0 auto;
    .title {
      font-size: 2.5rem;
      font-weight: 300;
      text-align: center;
    }

    .content {
      padding-top: 3rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .msg {
        color: red;
        font-weight: 300;
        font-size: 1.6rem;
      }

      .btn {
        border-radius: 8px;
        color: #fff;
        background-color: #3b3ff7;
        height: 3rem;
        width: 15%;
        flex: 0 0 30%;
        margin-right: 2rem;
        &:hover {
          cursor: pointer;
        }
        &:focus {
          outline: none !important;
        }
      }
      p {
        justify-items: flex-start;
        flex: 0 0 50%;
      }
    }
  }
}
